input[type="range"] {
  border: solid 1px black;
  border-radius: 8px;
  height: 10px;
  background-color: red !important;
  margin-top: 8px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 20px;
  padding: 0;
  background: #1b1c1d;
  cursor: pointer;
  border-radius: 4px;
}
