.annotations-tbody {
  display: block;
  overflow: auto;
  height: 100%;
}

.annotations-thead,
.annotations-tbody .annotations-tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.codes-table {
  border-collapse: collapse;
}

.codes-tbody {
  display: block;
  overflow: auto;
  margin-left: 1em;
  margin-top: 1em;
}

.codes-thead,
.codes-tbody .codes-tr .codes-td {
  border: none;
  table-layout: fixed;
  padding: 1px;
}

span.token.selected > span {
  background-color: rgb(61, 61, 61) !important;
  color: rgb(255, 255, 255);
  border-color: black;
}
span.token.selected.start > span.pre {
  background-color: lightblue !important;
}
span.token.selected.end > span.post {
  background-color: lightblue !important;
}

button.active {
  height: "120%";
  border: solid !important;
}

span.token.annotated > span {
  line-height: 1.5em;
  border: solid;
  border-width: 2px;
  border-top-right-radius: 1px;
  border-left: none;
  border-right: none;
  cursor: pointer;
  box-shadow: none;
}

span.token.annotated.anyLeft > span.text {
  border-left: solid;
  border-left-width: 0.1px;
  border-bottom-left-radius: 0px;
}
span.token.annotated.anyLeft > span.text {
  border-left: 1px solid;
  border-left-width: 0.1px;
  border-bottom-left-radius: 0px;
}
span.token.annotated.allLeft > span.pre {
  border: none;
  background: none;
}
span.token.annotated.allLeft > span.text {
  border-left: solid;
  border-left-width: 1px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}

span.token.annotated.anyRight > span.text {
  border-right: 1px solid;
}
span.token.annotated.allRight > span.post {
  border: none;
  background: none;
}
span.token.annotated.allRight > span.text {
  border-right: solid;
  border-right-width: 1px;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}
