::selection {
  background-color: rgb(61, 61, 61);
  color: rgb(255, 255, 255);
}

.codes-table {
  border-collapse: collapse;
}

.codes-tbody {
  display: block;
  overflow: auto;
  margin-left: 1em;
  margin-top: 1em;
}

.codes-thead,
.codes-tbody .codes-tr .codes-td {
  border: none;
  display: table;
  width: 100%;
  table-layout: fixed;
  padding: 1px;
}

span.token.selected {
  background-color: rgb(61, 61, 61) !important;
  color: rgb(255, 255, 255);
  border-color: black;
}

button.active {
  height: "120%";
  border: solid !important;
}

.annotatedToken {
  border: solid;
  border-width: 1px;
  font-weight: bold;
  padding: 1px;
  opacity: 0.7;
  border-left-width: 1px;
  border-right-width: 1px;
  border-left: none;
  border-right: none;
}

.annotatedToken.selected {
  background-color: rgb(61, 61, 61) !important;
  color: rgb(255, 255, 255);
}

.annotatedToken.anyLeft {
  border-left: solid;
  border-left-width: 0.1px;
  border-bottom-left-radius: 0px;
}

.annotatedToken.allLeft {
  border-left: solid;
  border-left-width: 1px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
}

.annotatedToken.anyRight {
  border-right: solid;
  border-right-width: 0.1px;
  border-top-right-radius: 0px;
}

.annotatedToken.allRight {
  border-right: solid;
  border-right-width: 1px;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
}
